body {
   
}

.background {
    background-image: url("../fire.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.heading{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
}
.button{
    text-align: center;
    position: absolute;
    right: 70%;
    top: 80%;
    transform: translateX(-60%) translateY(-60%);
}